<section>
    <app-arrow (click)="emitShowPage()" [navigateTo]="navigateTo" class="navigation"></app-arrow>
    <div class="content">
        <h1>Why me</h1>
        <div>
            <p>I am motivated to continuously learn new technologies and develop myself. My ability to solve complex
                problems and my passion for programming make me a valuable member of your team.</p>
            <h2>I am</h2>
            <div class="benefits">
                <div class="located">
                    <img src="../../assets/icons/location-default.svg">
                    <img id="ellipse" src="../../assets/icons/ellipse.svg">
                    <p>located in berlin</p>
                </div>
                <div class="remote">
                    <img src="../../assets/icons/remote-default.svg">
                    <img id="remote-active" src="../../assets/icons/remote-active.svg">
                    <p>open to work remote</p>
                </div>
                <div class="communication">
                    <img src="../../assets/icons/communication-default.svg">
                    <img id="communication-active" src="../../assets/icons/communication-active.svg">
                    <p>strong in communication</p>
                </div>
            </div>
            <button>Contact me</button>
        </div>
    </div>
</section>