<nav>
   <a class="home" (click)="emitShowPage('atf')">
            <img src="../../assets/img/Logo.png">
        </a>
        <a class="burger" (click)="emitOpenBurgerMenu()">
            <img src="../../assets/icons/burger-menu.svg">
        </a>

    <div class="links-area">
        <a id="whyme-nav" (click)="emitShowPage('whyme')" class="no-wrap">Why me</a>
        <a id="skills-nav" (click)="emitShowPage('skills')">Skills</a>
        <a id="mywork-nav" (click)="emitShowPage('mywork')">My&nbsp;Work</a>
        <a id="contact-nav" (click)="emitShowPage('contact')">Contact</a>
    </div>
</nav>
