<!-- <nav>
    <a href="#atf">
        <img src="../../assets/img/testlogo.png">
    </a>
    <div class="links-area">
        <a href="#whyme">Why&nbsp;me</a>
        <a href="#skills">Skills</a>
        <a href="#mywork">My&nbsp;Work</a>
        <a href="#contact">Contact</a>
    </div>
</nav> -->

<nav>
    <a  (click)="emitShowPage('atf')">
        <img src="../../assets/img/testlogo.png">
    </a>
    <div class="links-area">
        <a id="whyme" (click)="emitShowPage('whyme')" >Why&nbsp;me</a>
        <a id="skills" (click)="emitShowPage('skills')">Skills</a>
        <a id="mywork" (click)="emitShowPage('mywork')">My&nbsp;Work</a>
        <a id="contact" (click)="emitShowPage('contact')">Contact</a>
    </div>
</nav>