<div class="card-container" id="card-full-{{ item.id }}">
    <div class="headline">
        <h1>{{item.number}}</h1>
        <h2>{{item.name}}</h2>
    </div>
    <div class="card-content">
        <div class="first-line">
            <ul class="about list">
                <li *ngIf="language === 'en'">About the Project</li>
                <li *ngIf="language === 'de'">Über das Projekt</li>
                <br>
                <p class="help-resize" *ngIf="language === 'en'">{{ item.about }}</p>
                <p class="help-resize" *ngIf="language === 'de'">{{ item.ueber }}</p>
                <br><br>
                <li *ngIf="language === 'en'">Technologies I have used </li>
                <li *ngIf="language === 'de'">Benutzte Technologien</li>
                <br>
                <p class="help-resize">{{ item.technologies }}</p>
                <br><br>
                <!-- <li>What I have learned </li>
                    <br>
                    <p class="technologies">{{ item.learning }}</p> -->
            </ul>
            <div class="info">
                <img src="{{ item.image }}">
                <div class="links">
                    <a href="{{ item.github }}" target="_blank">GitHub</a>
                    <a href="{{ item.test }}" target="_blank">Live Test</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div (click)="emitShowMore( item.id )" class="show-more-area">
    <img id="card-arrow-{{ item.id }}" src="../../assets/icons/arrowicon.svg">
    <div id="card-show-{{ item.id }}">show me more</div>
</div>