<section>
    <app-right-bar></app-right-bar>
    <div class="content">
        <h1>Contact me</h1>
        <form>
            <input class="input-field" placeholder="Your name">

            <input class="input-field" placeholder="Your e-mail">

            <textarea placeholder="Your message"></textarea>
            <div class="agreement">
                <input class="checkbox" type="checkbox">
                <p>I've read the <a>privacy policy</a> and agree to the processing of my data as outlined.</p>
            </div>
            <div>
                <button disabled>Send</button>
            </div>
        </form>
        <div class="work-together">
            <span>Let us work together</span>
            <br>
            <br>
            <p>
                Whether your project involves developing a new application, upgrading existing systems,
                or implementing robust cybersecurity measures,
                I have the technical acumen and problem-solving skills to ensure successful outcomes.</p>
            <br>
            <br>
            <div><img><span>E-Mail: <a>j.bruchwalski&#64;web.de</a></span></div>
            <div><img><span>Tel: <a>0160 / 7534434</a></span></div>

        </div>

    </div>



</section>