<section>
    <app-arrow (click)="emitShowPage()" [navigateTo]="navigateTo" class="navigation"></app-arrow>
    <div class="content">
        <h1>My Skill Set</h1>
        <div class="container">
            <p class="description">The IT landscape is continuously evolving, with new technologies and methodologies.
                Staying motivated to
                expand my IT skills requires a strategic approach, a curious mindset, and a commitment to lifelong
                learning.</p>
            <div class="skill-container">
                @for (skill of skillsFrontend; track skill.name) {
                <div class="single-skill">
                    <img src={{skill.path}}>
                    <div class="glow">
                    </div>
                    <p>{{skill.name}}</p>
                </div>
                }
                <p class="info">I am always happy to learn new technonogies,
                    just tell me what you need.</p>
            </div>

        </div>

    </div>

</section>