<app-navbar [currentPageNav]="currentPage" (showPage)="showPageViaNavbar($event)"></app-navbar>
<app-socials [currentPageNav]="currentPage" id="socials-bar" class="socials"></app-socials>
<app-right-bar [currentPageNav]="currentPage" id="right-bar" class="d-none"></app-right-bar>
<div class="content-wrapper">
  <div id="pages-container">
    <app-atf (showPage)="showPageViaArrow($event)" id="atf" class="component"></app-atf>
    <app-whyme (showPage)="showPageViaArrow($event)" [animationObserver]="currentPage" id="whyme"
      class="component"></app-whyme>
    <app-skills (showPage)="showPageViaArrow($event)" [animationObserver]="currentPage" id="skills"
      class="component"></app-skills>
    <app-mywork (showPage)="showPageViaArrow($event)" id="mywork" class="component"></app-mywork>
    <app-contact (showPage)="showPageViaArrow($event)" id="contact" class="component"></app-contact>
  </div>
</div>