.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // scroll-snap-type: x mandatory;
  // scroll-behavior: smooth;
}

.component {
  flex: 0 0 100vw;
  height: 100vh;
  scroll-snap-stop: always;
}

.d-none {
  display: none;
}

.content-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

#pages-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.component {
  flex: 0 0 100%;
  height: 100vh;
  display: block;
}

