<section>
    <div class="main-container">
        <app-arrow (click)="emitShowPage()" class="navigation" [navigateTo]="navigateTo"></app-arrow>
        <div class="content">
            <div class="project-container">
                <div class="size-helper"></div>
                <div class="flex-helper">
                    <app-projectcard id="project-container" [indexOfItem]="2" class="programm"></app-projectcard>
                    <div class="carousel-area">
                        <img src="../../assets/icons/Rectangle-empty.svg" alt="rectangle-empty">
                        <img src="../../assets/icons/Rectangle-empty.svg" alt="rectangle-empty">
                        <img src="../../assets/icons/Rectangle-full.svg" alt="rectangle-full">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>