@import '../../styles.scss';

section {
  background-size: 700vw 100vh;
  background-image: linear-gradient(100deg, #010101, #010101, #252525, #252525, #010101);
  background-position: -500vw 0;
  height: 100vh;
  width: 100vw ;
  display: flex;
  justify-content: center;

  .main-container {
    width: 100vw;
    max-width: 1440px;
}

.flex-helper{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.size-helper {
    width: 141px;
}

  .programm{
    margin-right: 32px;
  }

  .content {
    margin-left: 180px;
    margin-right: 40px;
    padding-top: 10%;
    display: flex;
    align-items: start;
  }

  h1 {
    font-family: 'quantico-bold';
    font-size: 54px;
    font-weight: 400;
    color: transparent;
    -webkit-text-stroke-width: 2.0px;
    -webkit-text-stroke-color: $primary-color;
    writing-mode: vertical-lr;
    rotate: 180deg;
    margin-left: 32px;
    margin-right: 32px;
  }

  .project-container {
    display: flex;
    align-items: center;
  }

  .carousel-area{
    img{
      margin-right: 4px;
    }
  }

  #projects-resp {
    display: none;
  }


  .preview-container {
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 80%;
    width: 250px;
    border-radius: 30px;
    border: solid 2px $primary-color;
    margin-left: 40px;
  }

  .preview {
    transition: filter 0.5s ease;

    &:hover {
      cursor: pointer;
      filter: brightness(1.2);
    }
  }


  @media(max-width: 1600px) {
    .project-container {
      display: flex;
      // flex-direction: column;
      align-items: center;
    }

    .preview-container {
      padding-top: 16px;
      padding-bottom: 16px;
      gap: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      height: 80%;
      width: 700px;
      border-radius: 30px;
      border: solid 2px $primary-color;
      margin-left: 0;
    }

  }

  @media (max-width: 800px) {
    background-size: 100vh 500vw;
    background-image: linear-gradient(190deg, #010101, #252525, #252525, #010101);
    background-position: 0 -300vh;

    .content {
      margin-left: 24px;
      margin-right: 24px;
      padding-top: 0px;
      top: 0%;
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    h1 {
      font-family: 'quantico-bold';
      font-size: 32px;
      font-weight: 400;
      color: transparent;
      -webkit-text-stroke-width: 2.0px;
      -webkit-text-stroke-color: $primary-color;
      writing-mode: horizontal-tb;
      rotate: 0deg;
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
      top: 0px;
    }


    .navigation {
      display: none;
    }
  }

  @media(max-width: 1040px) {
    .preview-container {
      padding-top: 16px;
      padding-bottom: 16px;
      gap: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 80%;
      width: 450px;
      border-radius: 30px;
      border: solid 2px $primary-color;
      margin-left: 0;
    }
  }


  @media(max-width: 500px) {
    height: auto;
    min-height: 100vh;

    .preview-container {
      display: none !important;
    }

    #project-container {
      display: none !important;
    }

    #projects-resp {
      display: block;
    }
  }



  .start-animation {
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInScale 1s ease-out forwards;
  }

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

}


.navigation {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  top: 90%;
  right: 0 !important;
}