<div class="dialog-container" (click)="emitCloseDialog()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <h1>legal notice</h1>
    <p class="legal-notice-content">

      Information on the website according to §5
      <br>
      <b>Jan Bruchwalski.</b>
      <br>
      <br>
      13595 Berlin
      <br>
      <br>
      Represented by:
      Jan Bruchwalski.
      <br>
      <br>
      Contact:
      <br>
      Telephone: 0160-7534434
      <br>
      Email: j.bruchwalski"&#64;web.de
    </p>
  </div>
</div>