@import '../../styles.scss';

section {
  height: 100vh;
  width: 100vw;
  background-size: 400vw 100vh;
  background-image: linear-gradient(100deg, #010101, #252525, #252525, #010101);
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  // width: 100vw;
  // background-size: 400vw 100vh;
  // background-image: linear-gradient(100deg, #010101, #252525, #252525, #010101);
  // background-position: -200vw 0;
  // overflow-x: hidden;
  
//   .content {
//     margin-left: 180px;
//     margin-right: 40px;
//     padding-top: 0;
//     top: 15%;
//     display: flex;
//     align-items: start;
//     color: white;
// }

.content {
  margin-left: 180px;
  margin-right: 40px;
  padding-top: 10%;
  // top: 25%;
  display: flex;
  align-items: start;
}

h1 {
    font-family: 'quantico-bold';
    font-size: 54px;
    font-weight: 400;
    color: transparent;
    -webkit-text-stroke-width: 2.0px;
    -webkit-text-stroke-color: $primary-color;
    writing-mode: vertical-lr;
    rotate: 180deg;
    margin-left: 32px;
    margin-right: 32px;
}

  .project-container {
    display: flex;
    align-items: center;
  }

  .programm {}

  .preview-container {
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 80%;
    width: 250px;
    border-radius: 30px;
    border: solid 2px $primary-color;
    margin-left: 40px;
  }

  .preview {
    // transform-origin: top left;
    // width: 380px;
    transition: filter 0.5s ease;

    &:hover {
      cursor: pointer;
      filter: brightness(1.2);
    }
  }

}

.navigation {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  top: 90%;
  right: 0 !important;
}