<div class="top-bar">
    <div id="socials-bar">
        <div><img [src]="iconMailSrc" alt="Mail-Icon" (mouseenter)="onMouseEnter('mail')"
                (mouseleave)="onMouseLeave('mail')"></div>
        <div><img [src]="iconLinkedinSrc" alt="LinkedIn-Icon" (mouseenter)="onMouseEnter('linkedin')"
                (mouseleave)="onMouseLeave('linkedin')"></div>
        <div><img [src]="iconGithubSrc" alt="Github-Icon" (mouseenter)="onMouseEnter('github')"
                (mouseleave)="onMouseLeave('github')"></div>
    </div>
    <div class="language-switch">
        <p class="language">DE</p>
        <p class="choose">|</p>
        <p class="language">EN</p>
    </div>
</div>
