@import '../../styles.scss';

section {
    background-color: #010101;
    height: 100vh;
    width: 100vw;


    .navigation{
        position: sticky;
        top: 30%;
        right: 30% !important;
        display: flex;
        justify-content: flex-end;
    }

    .headlines {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        z-index: 1;
        position: sticky;
        margin-top: 50vh;

        .headline-name{
            overflow: hidden;
            height: 150px;
        }
        
        .headline-title{
            overflow: hidden;
            height: 70px;
        }

        h1 {
            color: $primary-color;
            font-size: 100px;
            bottom: -100%;
            transform: translateY(100%);
            animation: slideUp 1s ease-out forwards;
        }

        h2 {
            color: transparent;
            -webkit-text-stroke-width: 0.15px;
            -webkit-text-stroke-color: $primary-color;
            font-size: 48px;
            bottom: -150%;
            transform: translateY(100%);
            animation: slideUp 1s ease-out forwards;
        }

        @keyframes slideUp {
            0% {
              transform: translateY(100%);
            }
            100% {
              transform: translateY(0%);
            }
          }
    }

    .profile-container {
        margin-left: 172px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .profile-pic {
            height: 600px;
            position: sticky;
            bottom: 0;
            margin: 0;

        }
    }
}