@import '../../styles.scss';

section {
    background-size: 500vw 100vh;
    background-image: linear-gradient(100deg, #010101, #010101, #252525, #252525, #010101);
    background-position: 0vw 0;
    height: 100vh;
    width: 100vw;

        .navigation{
        position: sticky;
        top: 30%;
        right: 30% !important;
        display: flex;
        justify-content: flex-end;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .headlines {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        z-index: 1;
        position: sticky;
        bottom: 100px;

        .headline-name{
            overflow: hidden;
            height: 150px;
        }
        
        .headline-title{
            overflow: hidden;
            height: 70px;
        }

        h1 {
            color: $primary-color;
            font-size: 100px;
            bottom: -100%;
            transform: translateY(100%);
            animation: slideUp 1s ease-out forwards;
        }

        h2 {
            color: transparent;
            -webkit-text-stroke-width: 0.15px;
            -webkit-text-stroke-color: $primary-color;
            font-size: 48px;
            bottom: -150%;
            transform: translateY(100%);
            animation: slideUp 1s ease-out forwards;
        }

        @keyframes slideUp {
            0% {
              transform: translateY(100%);
            }
            100% {
              transform: translateY(0%);
            }
          }
    }

}