<section>
    <app-arrow (click)="emitShowPage()" [navigateTo]="navigateTo" class="navigation"></app-arrow>
    <div class="container">
        <img class="profile-pic" src="../../assets/img/pic.png">
        <div class="profile-container">
            <div class="headlines">
                <div class="headline-name">
                    <h1>Jan Bruchwalski</h1>
                </div>
                <div class="headline-title">
                    <h2>Frontend Developer</h2>
                </div>
            </div>
        </div>
    </div>
</section>